body {
    font-family: Arial, sans-serif;
  }
  
  .cohort {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
  }
  
  .view-button {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .view-button:hover {
    background-color: #2f302f;
  }
  
  .active {
    background-color: #fefefe;
    color: rgb(0, 0, 0);
  }
  
  .apply {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
 