.select-container {
    margin-bottom: 20px;
  }
  
  .select-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .select-container select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .next-button {
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .next-button:hover {
    transform: scale(1.03);
  }
  
  .next-button:active {
    transform: scale(0.95);
  }
  