@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.home-container {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .main-heading {
    max-width: 4xl;
    font-size: 12xl;
    font-weight: bold;
    color: #000000;
    @media (min-width: 768px) {
      font-size: 6xl;
    }
    @media (min-width: 1024px) {
      font-size: 7xl;
    }
  
    .text-blue-600 {
      color: #073aba;
    }
  }
  
  .sub-text {
    margin-top: 25px;
    max-width: prose;
    font-size: 900;
    color: #01030a;
    @media (min-width: 640px) {
      font-size: lg;
    }
  }
  
  .button-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 55px;
    border-radius: 20px;
  }
  
  .primary-button,
  .secondary-button {
    /* Add your button styles here using Tailwind CSS or other styles */
    /* Example styles for primary button */
    padding: 10px 20px;
    background-color: #073aba;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color:#fb5204;
    }
  
    .arrow-icon {
      margin-left: 2px;
      height: 16px;
      width: 20px;
    }
  }

  /* Add hover effect for headings */
.main-heading:hover {
  color:#fb5204;
}

/*Hovering for the sub-text  */
.sub-text:hover {
  color:#060cc6;
}
