.user-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color:transparent;
    border-radius: 5px;
  }
  
  .user-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    background-color: #073aba;
    color: #fff; 
  }
  
  .user-circle:hover {
    cursor: pointer;
  }
  
  button {
    padding: 12px 18px;
    background-color: #073aba;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 12px;
  }
  
  button:hover {
    background-color: #fb5204; 
    cursor: pointer;
  }
  
  .logo-image {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
  }

  .learners-left-section{
    gap: 1px;
  }