body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  color: #444;
}

.app-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section {
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em; 
  font-weight: bold;
  color: #333;
}

.description-section {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
}

.image-section {
  margin-bottom: 15px;
}

.wide-image {
  width: 100%;
  max-width: 600px; 
  border-radius: 20px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease;
}

.wide-image:hover {
  transform: scale(1.08); 
}

.cta-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cta-tab {
  background-color: #fff;
  border-radius: 20px; 
  padding: 25px; 
  box-shadow: 0 0 20px rgba(18, 18, 18, 0.3); 
  text-align: center;
}

h1,
h2 {
  color: #333;
}

.sign-in-button {
  background-color: #f16f10;
  color: white;
  padding: 20px 40px; 
  font-size: 20px; 
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px; 
  transition: background-color 0.3s ease;
  margin-bottom: 10px; 
}

.sign-in-button:hover {
  background-color: #cc3700;
}

.google-logo {
  margin-right: 10px; 
  width: 24px; 
  height: 24px; 
}

.sign-in-button-google {
  background-color: #4285f4; 
  color: #ffffff;
  padding: 19px 70px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  align-items: center;
}

.sign-in-button-google:hover {
  background-color: #3b79cb; 
}

input {
  width: 100%;
  padding: 15px; 
  margin-bottom: 20px; 
  box-sizing: border-box;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  font-size: 16px; 
}
